h2{
  color: rgb(253, 250, 250);
  font-weight: lighter;
  opacity: 0.8;
}
strong{
  color: white;
}
.main{
  text-align: center;
  background-image: url("images/Copy\ of\ landing.jpg");
}
h4{
  color: #F15A29;
}
p{
  color: black;
}
h5{
  color: #F15A29; 
}
.container {
  float: left;
  width: 25%;
}
.row:after{
  content: "";
  display:table;
  clear: both;
}
.image {
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  padding: 16px 32px;
  text-align: center;
}
.Fastfood{
  margin: 0 0 0 10px;
  float: left;
}
.background-image{
  background-repeat: no-repeat;
}
.food{
  margin-right: auto;
  display: block;
}
#food{
  border: 3px solid rgb(243, 234, 234);
  padding: 10px;
  margin-right: 800px;
}

.icons {
  width: 35px;
  height: 5px;
  background-color: white;
  position: absolute;
  left: 20px;
  border-top: 15px;
}
.flex-container {
  display: flex;;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.nav{
  max-width: 960px;
  margin:0 auto;
  padding: 20px 0;
  margin-right: 0;
  display: flex;
  
}
nav>li{
  text-align: right;
  border: 10px solid grey;
}
ul>li{
  display: inline-block;
}
nav>ul>li>a{
  padding: 30px;
  margin: auto;
  width: 100px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: white;
}
ul>li>a:hover{
  color: #F15A29;
  background: white;
}
