 /* @media only screen and (min-width:400px){ 
  html{
    color: black;
    background-color: #F15A29;
  }
}*/
.main{
  text-align: center;
  background-image: url(images/Copy\ of\ landing.jpg);
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  width: 100%;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  position: center;
}
strong{
  color: white;
}
p.text{ 
  color: rgb(241, 235, 235);
  font-size: 30px;
}
.icons {
  position: absolute;
  height: 40px;
  width: 60px;
  margin-left: 4%;
  margin-top: 4%;
}
.icons >div{
  width: 100%;
  height: 33%;
  border-bottom: 3px solid white;
}
.row{
  display: flex;
  flex-direction: row;
  height: 228px;
  width: 100%;
  border: 1px;
  position: absolute;
  top: 527px;
  left: 0px;
  margin-right: 0px;
  color: white;
  background-color: #F15A29;
  text-align: center;
  font-size: 22px;
}
.row > div{
  border: 1px;
  width: 25%;
}
#time > div{
  display: flex;
  flex-direction: column;
  height: 50%;
}
#happy{
  background-color: rgb(223, 213, 213);
  color: black;
}
#breakfast{
  background-image: url(images/breakfast.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#lunch{
  background-image: url(images/lunch.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#dinner{
  background-image: url(images/dinner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 900px;
  height: 1000px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}
#food{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}
#ale{
  display: block;
  flex-direction: column;
  height: 50%;
  width: 100%;
  padding: 10px;
}
.fastfood{
 display: flex;
 flex-direction: column;
 height: 185%;
 width: 500px;
 border: 10px solid white;
 box-shadow: 0px 0px 5px black;
}
.drinks{
display: flex;
flex-direction: column;
height: 150px;
width: 300px;
flex-wrap: wrap;
float: left;
}
#gallery1{
  border: 1px solid #F15A29;
  color: #F15A29;
  height: 25px;
}
#container2{
  background-image: url(images/foodsBg.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 100%;
  position: absolute;
  bottom: -210%;
  margin-right: 0px;
  justify-content: center;
}
#container3{
  background-color: white;
  display: table;
  width: 80%;
  height: 100px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 50px;
}
#nav{
  width: 100%;
  overflow: auto;
  font-size: 30px;
}
#nav a{
  padding: 12px;
  width: 25%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: rgb(73, 70, 70);
  background-color: rgb(207, 204, 204);
  font-size: 20px;
}
#nav a:hover{
  color: #F15A29;
  background-color: white;
}
#flex-container {
  display: flex;
}
#flex-container > div {
  margin: 10px;
  padding: 20px;
  font-size: 20px;
}
#reviews{
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 70%;
  border: 5px solid rgb(240, 237, 237);
  position: absolute;
  bottom: -270%;
  text-align: center;
  font-size: 22px;
  justify-content: center;
}
#reviews > div{
  border: 1px solid rgb(240, 233, 233);
  width: 50%;
  margin-left: auto;
  justify-content: center;
  box-shadow: 5px grey;
}