 /* @media only screen and (min-width:400px){ 
  html{
    color: black;
    background-color: #F15A29;
  }
}*/
.main{
  text-align: center;
  background-image: url("images/Copy\ of\ landing.jpg");
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  padding: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  position: center;
}
strong{
  color: white;
}
p.text{ 
  color: rgb(241, 235, 235);
  font-size: 30px;
}
.icons {
  position: absolute;
  height: 40px;
  width: 60px;
  margin-left: 4%;
  margin-top: 4%;
}
.icons >div{
  width: 100%;
  height: 33%;
  border-bottom: 3px solid white;
}
.row{
  display: flex;
  flex-direction: row;
  height: 228px;
  width: 100%;
  border: 1px;
  position: absolute;
  top: 527px;
  left: 0px;
  color: white;
  background-color: #F15A29;
  text-align: center;
  font-size: 22px;
}
.row > div{
  border: 1px;
  width: 25%;
}
#time > div{
  display: flex;
  flex-direction: column;
  height: 50%;
}
#happy{
  background-color: rgb(223, 213, 213);
  color: black;
}
#breakfast{
  background-image: url(images/breakfast.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#lunch{
  background-image: url(images/lunch.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#dinner{
  background-image: url(images/dinner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.fastfood{
  background-image: url(images/fastFood1.jpg), url(images/fastFood2.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  height: 60%;
  width: 31%;
  border: 14px solid rgb(246, 246, 252);
  position: absolute;
  top: 820px;
  left: 100px;
  padding: 2px;
}
.drinks{
  background-image: url(images/drink1.jpg), url(images/drink2.jpg);
  background-position: left, right;
  background-repeat: no-repeat, no-repeat;
  display: flex;
  height: 50%;
  width: 36%;
  border: 14px solid rgb(246, 246, 252);
  position: absolute;
  bottom: -980px;
  right: 100px;
  padding: 10px;
}
#gallery1{
  border: 1px solid #F15A29;
  color: #F15A29;
  height: 25px;
}